{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="header-bar">
<h1>Welcome! Register Here</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
{#        {% crispy form %}#}
{#        {{ form.as_p }}#}
{#        {% crispy %}#}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <label>{{form.error.label}}</label>
        <input style="margin-top: 10px;" class="button" type="submit" value="Register">
    </form>
    <p>Already have an account ?<a href="{% url 'login' %}">Login Here!</a></p>
</div>
{% endblock content %}